<!-- <p> Hello!!</p>

<script src ="/socket.io/socket.io.js"></script>
<script>
    var test = io.connect("http://localhost:3000")
    test.on('test', (data) => {
        console.log(data)
    })
</script> -->

<!-- <script>
    var socket = io.connect('http://localhost:3000');
</script> -->

<head>
    <meta charset="utf-8">
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/views/javascripts/socket.js"></script>
    <!-- <script>
        var path = window.location.pathname;
        console.log(path)
    </script> -->
</head>
 
<body>
    <div id="camera">
        <form action="">
            <select name="camera_id" >
                <option value="none">=== 선택 ===</option>
                <option value="[수도권제1순환선] 성남">[수도권제1순환선] 성남</option>
            </select>
            <button>선택</button>
        </form>
    </div>

    <div id="video">
        <p>Video Div</p>
    </div>
</body>